<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("head.ejs") %>
    <title><%= title %></title>
    <script>
      const token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      function updateTodo(id, completed) {
        fetch(`/todos/${id}`, {
          method: "put",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
            completed,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
      function deleteTodo(id) {
        const token = document
          .querySelector('meta[name="csrf-token"]')
          .getAttribute("content");
        fetch(`/todos/${id}`, {
          method: "delete",
          headers: { "content-type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch((err) => console.log(err));
      }
    </script>
  </head>
  <body>
    <div class="grid grid-cols-6 py-4">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <form action="/todos" method="post">
          <% if(messages && messages.error && messages.error.length > 0)  { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                    <span class="text-red-600 block"> <%= messages.error[i] %></span>
            <% } %>
          <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input
                type="text"
                name="title"
                placeholder="What's next?"
                class="border border-gray-300 rounded w-full p-2 text-gray-900 text-sm"
                
              />
            </div>
            <div class="flex-auto">
              <input
                type="date"
                name="dueDate"
                class="border border-gray-300 rounded w-full p-2 text-gray-900 text-sms leading-4"
                
              />
            </div>
            <div class="flex-none">
              <button
                type="submit"
                class="bg-green-600 text-white px-5 py-2 rounded font-medium py-1.5 mr-2 mb-2"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <%- include("todo.ejs", {title: "Overdue", todos: overdue, countId: "count-overdue" }) %>
        <br>
        <%- include("todo.ejs", {title: "Due Today",todos: dueToday, countId: "count-due-today"}) %> 
        <br>
        <%- include("todo.ejs", {title: "Due Later", todos: dueLater, countId:"count-due-later"}) %> 
        <br>
        <%- include("todo.ejs", {title: "Completed",todos: completed, countId: "count-completed"}) %>
      </div>
      <div class="col-start-3 col-span-2 m-auto">
        <%- include("footer.ejs") %>
      </div>
    </div>
  </body>
</html>
